.header {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #222433;
  height: 80px;
  border-bottom: 3px solid var(--primary-color);
  .header-content {
    max-width: 1140px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .user-info {
      display: flex;
      align-items: center;
      justify-self: center;
      width: 100%;
      color: var(--primary-color);
      font-weight: 600;
      border: 3px solid var(--primary-color);
      border-radius: 50%;
      width: 54px;
      height: 54px;
      .user-icon {
        font-size: 36px;
        flex: 1;
        display: block;
      }
    }
  }
}
