@import "/src/styles/Responsive.scss";

.login-form {
  margin-top: 1rem;
  padding: 50px 25px;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
  border: 3px solid var(--primary-color);
  border-radius: 4px;
  background-color: rgba($color: #000, $alpha: 0.6);
  h2 {
    font-size: 2rem;
    color: var(--primary-color);
    font-weight: 600;
    margin-bottom: 30px;
  }
  h3 {
    font-size: 1.75rem;
    margin-bottom: 40px;
    font-weight: 600;
    color: var(--white);
  }
  .form-group {
    margin-bottom: 36px;
    label {
      display: inline-block;
      margin-bottom: 12px;
      font-weight: 600;
      color: #fff;
    }
    input {
      display: block;
      box-sizing: border-box;
      width: 100%;
      height: 26px;
      padding: 18px;
      margin-bottom: 6px;
      font-size: 1rem;
      font-weight: 600;
      line-height: 1.5;
      color: #ffffff;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #8f8f8f;
      border-radius: 4px;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      overflow: visible;
      background-color: #000;
    }
    textarea:focus,
    input:focus {
      outline: none;
      border-color: var(--primary-color);
    }
    input:-internal-autofill-selected {
      background-color: transparent !important;
    }
    .error-message {
      color: #dc3545;
      font-weight: 600;
    }
  }
  .btn-login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    box-sizing: border-box;
    border: none;
    background-color: var(--primary-color);
    width: 100%;
    padding: 14px 0;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    color: var(--white);
    border: 1px solid var(--primary-color);
    transition: ease-in-out 0.1s;
    height: 50px;
    max-height: 50px;
    .spin-btn {
      font-size: 30px;
    }
  }
  .back-login {
    margin-top: 16px;
    color: var(--primary-color);
    cursor: pointer;
    font-weight: 600;
  }
  @include mobile {
    max-width: 70%;
    flex: 1;
    margin: 20px auto 0 auto;
  }
  @include tablet {
    max-width: 80%;
    flex: 1;
    margin: 50px auto 0 auto;
  }
}
